<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="server=localhost;userid=root;database=quiztime1;password=PFfA3kEL" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NetFramework,Version=v4.5"/>
	</startup>
</configuration>